[push]
	default = simple
[user]
	email = alekseyleshko@gmail.com
	name = AlekseyLeshko
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitexcludes
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	template = ~/.gitmessage
